*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
:root{
    --black: #000000;
    --white: #ffffff;
    --red: red;
    --grey: grey;
    --light-black:#1c1b1b89;
    --green: rgba(46, 165, 46, 0.842);

    
}
body {
    background-color: var(--black);
    color: var(--white);
}
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak.ttf);
}
@font-face {
    font-family: apercu;
    src: url(../fonts/apercu.otf);
}
@font-face {
    font-family: butler;
    src: url(/fonts/butler.otf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter.otf);
}

/* Start of Navbar */
.logo-image{
    width: 165px;
}
.nav-item{
    font-size: 1.7rem;
    color: var(--white);
    text-decoration: none;
    margin-top: 20px;
    flex-wrap: wrap;
}
.nav-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid var(--light-black);
}
.franchise-bttn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 15px;
    border-radius: 35px;
    font-size: 1.7rem;
}
.order-bttn{
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 1.7rem;
}
.icon-span{
    background-color: var(--white);
    color: var(--red);
    padding: 5px 9px;
    border-radius: 20px;
}
/* End of Navbar */